
.dropdown-toggle::after {
    display: none !important;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
  }
  
  /* Create a zoomed effect */
  .image-container.zoomed img {
    transform: scale(1.5); /* Adjust the zoom level as needed */
    transform-origin: var(--x) var(--y); /* Set the zoom origin to the cursor position */
  }